html, body {
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
    padding: 0; 
    margin: 70px;
    font-size: calc(1em + 1vw); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.website-background-black {
   background: #000000;
}
.text-color-white {
   color: #ffffff;
}
.text-color-blue {
   color:#283ebe ;
}
.text-color-yellow {
   color: #c5a204;
}
.hide-text-block {
   position: relative;
   display: block;
   overflow: hidden;
}

@font-face {
   font-family: 'Regular';
   src: url('../fonts/Graphik-Regular.eot');
   src: url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular.woff') format('woff'),
       url('../fonts/Graphik-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Semibold';
   src: url('../fonts/Graphik-Semibold.eot');
   src: url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Semibold.woff') format('woff'),
       url('../fonts/Graphik-Semibold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: 'Medium';
   src: url('../fonts/Graphik-Medium.eot');
   src: url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Medium.woff') format('woff'),
       url('../fonts/Graphik-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

.bg-photo {	
   z-index: -9;	
   position: fixed;
   top: 0; 
   right: 10px; 
   bottom: 0; 
   left: 35%;
   background-image: url(Foto.png);
   background-repeat: no-repeat; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
   
   -webkit-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
   -moz-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
   animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);	
   -webkit-animation-fill-mode:backwards;
   -moz-animation-fill-mode:backwards;
   animation-fill-mode:backwards;
}
   @media screen and (max-width: 767px) {
       .bg-photo {
       -webkit-animation:bg-photo .6s cubic-bezier(.5, .6, .6, 1);
       -moz-animation:bg-photo .6s cubic-bezier(.5, .6, .6, 1);
       animation:bg-photo .6s cubic-bezier(.5, .6, .6, 1);		
       }
   }
@-webkit-keyframes bg-photo {
   0% {opacity: 0;transform: scale(1.1);}
   100% {opacity: 1;transform: scale(1);}	
}

@keyframes bg-photo {
   0% {opacity: 0;transform: scale(1.1);}
   100% {opacity: 1;transform: scale(1);}	
}
       @media screen and (max-width:480px) {
           .bg-photo {
               left: -8%;
           }	
       }


/*	=====================================================================
                           HOMEPAGE MOBILE							
   ===================================================================== */


@media screen and (min-width: 768px) {
   .hide-mobile {
       display: none;
   }
}

@media screen and (max-width: 767px) {
   .hide-web {
       display: none;
   }
   .toggle-mobile-second {
       display: none;
   }
   .mobile-tap-area {
       background: transparent;
       position: absolute;
       width: 100%;
       height: 100%;
   }
   .tap-indication {
       text-align: center;
       width: 100%;
       font-family:"Medium";
       color: #ffffff;
       position: fixed;
       bottom: 4%;
       font-size: 0.6em; /* general fallback */
       font-size: 3.6vm; /* IE9 fallback */
       font-size: 3.6vmin;
       animation: bounce 1s infinite alternate;
       
       -webkit-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
       -moz-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
       animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;	
   }
   @keyframes bounce {
     from {
       transform: translateY(0px);
     }
     to {
       transform: translateY(-8px);
     }
   }
   @-webkit-keyframes bounce {
     from {
       transform: translateY(0px);
     }
     to {
       transform: translateY(-8px);
     }
   }
}

.block-image-overflow {
   width: 100%;
   overflow: hidden;
}

/*       ======= DELAY =======             */

.delay02 { -webkit-animation-delay: .2s; animation-delay: .2s;}
.delay04 { -webkit-animation-delay: .4s; animation-delay: .4s;}

/*       ======= IMAGEN =======             */

.hero-image {
   display: block;
   width: 400;
   height: 500;
   overflow: hidden;
/*  margin: 30vh 0;   */
}
       @media screen and (max-width: 767px) {
           .hero-image {
               margin: 20vh 0;
           }	
       }	
.hero-image img {
   width: 500;
   height: 100vh;
   object-fit: cover;
}
       @media screen and (max-width: 767px) {
           .hero-image img {
               background-position: right bottom;
           }	
       }	
/*	=====================================================================
                                   HOMEPAGE							
   ===================================================================== */
       .top-bottom-margin {
           margin: 40vh 0 20vh 0;
           margin: 35vh 0 20vh 0;
           margin: 35vh 0 30vh 0;
       } 

       .vertical-center {
           position: absolute;
           height: 100%;
           display: -webkit-flex; /* Safari */
           display: flex;  
           -webkit-align-items: center; /* Safari */
           align-items:   center;
       }
       
       .label-hello:after{
           content:"My";
       }
       .label-hello:hover:after{
           content:"Leandro";
       }
       .label-iam:after{
           content:"Porfolio";
       }
       .label-iam:hover:after{
           content:"Vega";
       }
       


.max-width {
   max-width: 68%;
   max-width: 21.5em;
   margin: 0 auto;
}
       @media screen and (max-width: 767px) {
           .max-width {
               max-width: 100%;
               max-width: 86%;
           }
       }
       .animate {
           -webkit-animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
           -moz-animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
           animation: animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
           -webkit-animation-fill-mode: backwards;
           -moz-animation-fill-mode: backwards;
           animation-fill-mode: backwards;
       }
       @-webkit-keyframes animate {
           0% {opacity: 0;-webkit-transform: translateY(100%);}
           100% {opacity: 1;-webkit-transform: translateY(0%);}	
       }
       
       @keyframes animate {
           0% {opacity: 0;transform: translateY(30vh);} /* WORK ON THISSS! */
       /* 	0% {transform: translateY(100%);} */
           100% {opacity: 1;transform: translateY(0%);}	
       }

       h1 {
           font-family:'Semibold';
           position: fixed;
           line-height: 110%;
           letter-spacing: -2px;
           font-size: 3.2em; /* general fallback */
           font-size: 18vm; /* IE9 fallback */
       /*     font-size: 19vmin; */
           font-size: 18vmin;
       
       }
               @media screen and (max-width: 767px) {
                   h1 {
                   line-height: 130%;
                   }
               }
               
       
       h2 {
       /*  font-family: 'Semibold';*/
           line-height: 140%;
           font-size: 100px;
           font-size: 2.222em;
       } 

       @media screen and (max-width: 767px) {
           h2 {
           line-height: 130%;
           }
       }

   /* ------ Logo ------ */
       .logo {
           float: right;
       }
       .logo-inner {
           position: fixed;
           top: 10%;
           z-index: 999;
       }
               @media screen and (max-width: 767px) {
                   .logo-inner {
                       top: 5%;
                       left: 75%;
                   }
               }
       .label-logo:after { 
         /*font-family:"Semibold";*/
           font-size: 20px;
           content:"Leandro.";
       }
       .label-logo:hover:after{
           content:"Leandro.works";
           white-space: nowrap;
       }
               @media screen and (max-width: 767px) {
                   .label-logo:hover:after{
                       content:"Leandro.";
                   }
               }
       .label-logo{
           -webkit-animation:fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
           -moz-animation:fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
           animation:fadelogo .6s cubic-bezier(0.2, 0.6, 0.2, 1);
           -webkit-animation-fill-mode:backwards;
           -moz-animation-fill-mode:backwards;
           animation-fill-mode:backwards;	
       }
       @-webkit-keyframes fadelogo {
           0% {-webkit-transform: translateY(10vh);}
           100% {-webkit-transform: translateY(0vh);}	
       }
       @keyframes fadelogo {
           0% {opacity: 0;transform: translateY(10vh);}
           100% {opacity: 1;transform: translateY(0vh);}	
       }
       h4 {
         /*  font-family:'Semibold';	*/
           line-height: 140%;
           font-size: 48px;
           font-size: 40px;
           margin: 16vh 0 4vh 0;
           margin: 24vh 0 4vh 0;
       }
               @media screen and (max-width: 767px) {
                   h4 {
                   font-size: 30px;
                   }
               }

       p {
           line-height: 170%;
        /* font-family:'Regular'; */
           font-size: 18px;
           margin-bottom: 3vh;
       }
       
       p.size-small {
       /* font-family: "Medium";*/
           font-size: 16px;
           margin-bottom: 0;
       }
               @media screen and (max-width: 767px) {
                   p.size-small {
                   font-size: 14px;
                   }
               }
               
       .size-medium {
           line-height: 180%;
           font-size: 20px;
       }
       
       .size-large {
           line-height: 160%;
           font-size: 24px;
           margin-bottom: 4vh;
       }
       
       b {
           font-family: "Medium";
       }
       
       i {
           font-style:italic;
       }

       .on-hover-40, .on-hover--40 {
           transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
       }
       .on-hover-40:hover {
           margin-left: 40px;
           transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
       }
       .on-hover--40:hover {
           margin-left: -40px;
           transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
       }
               @media screen and (max-width: 767px) {
                   .on-hover-40:hover {
                       margin-left: 0px;	
                   }
                   .on-hover--40:hover {
                       margin-left: 0px;
                   }	
               }

       /*      ----- LINKS -----      */

       a, a:after, a:visited {
           text-decoration: none;
           cursor: pointer;
           color: #000000;	
       }
       a.text-color-white, a.text-color-white:after, a.text-color-white:visited {
           color: #ffffff;	
       }
       
       a.text-color-yellow, a.text-color-yellow:after, a.text-color-yellow:visited {
           color: #c5a204;
       }

       a.text-color-blue, a.text-color-blue:after, a.text-color-blue:visited {
           color:#283ebe;
       }

       /*   ------- CONTACT -------   */

       .content {
           position: relative;
           display: flex;
           justify-content: center;
           width: 100%;
           gap: 40px;
           margin: 25px;
       }   
       
       button {
           margin-right: 40px;
           text-decoration: none;
           position: relative;
           border: none;
           font-size: 14px;
           font-family: inherit;
           color: #fcfcfc;
           width: 9em;
           height: 3em;
           line-height: 2em;
           text-align: center;
           background: linear-gradient(90deg,#03a9f4,#f441a5, #ffeb3d, #03a9f4);
           background-size: 300%;
           border-radius: 30px;
           z-index: 1;
       }
       
       button:hover {
           animation: ani 8s linear infinite;
           border: none;
       }
       
       @keyframes ani {
           0% {
              background-position: 0%;
           }
           100% {
               background-position: 400%;
           }
       }
       
       button:before {
           content: '';
           position: absolute;
           top: -5px;
           left: -5px;
           right: -5px;
           bottom: -5px;
           z-index: -1;
           background: linear-gradient(90deg,#03a9f4,#f441a5, #ffeb3d, #03a9f4);
           background-size: 400%;
           border-radius: 35px;
           transition: 1s;
       }
       
       button:hover::before {
           filter: blur(20px);
       }
       
       button:active{
           background: linear-gradient(32deg,#03a9f4,#f441a5, #ffeb3d, #03a9f4);
       }
       

        /*	=====================================================================
                                   HOMEPAGE MOBILE							
         ===================================================================== */
       @media screen and (min-width: 768px) {
           .hide-mobile {
               display: none;
           }
       }
       
       @media screen and (max-width: 767px) {
           .hide-web {
               display: none;
           }
           .toggle-mobile-second {
               display: none;
           }
           .mobile-tap-area {
               background: transparent;
               position: absolute;
               width: 100%;
               height: 100%;
           }
           .tap-indication {
               text-align: center;
               width: 100%;
               font-family:"Medium";
               color: #ffffff;
               position: fixed;
               bottom: 4%;
               font-size: 0.6em; /* general fallback */
               font-size: 3.6vm; /* IE9 fallback */
               font-size: 3.6vmin;
               animation: bounce 1s infinite alternate;
               
               -webkit-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
               -moz-animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
               animation:bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;	
           }
           @keyframes bounce {
             from {
               transform: translateY(0px);
             }
             to {
               transform: translateY(-8px);
             }
           }
           @-webkit-keyframes bounce {
             from {
               transform: translateY(0px);
             }
             to {
               transform: translateY(-8px);
             }
           }
       }